.App section {
  background-color: peachpuff;
  padding: 10px;
  margin: 0 50px 20px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.07, 0.07);
}

.App input {
  width: 100%;
  border-radius: 10px;
  border: 0.5px none;
  height: 40px;
  padding: 7px;
  margin: 10px auto;
}

.App .hint {
  font-size: smaller;
}

.App li {
  list-style: none;
  margin: 20px 0;
}

.App ul {
  padding: 0;
}

.App h2 {
  font-size: bolder;
}

.App .listenButton {
  margin: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 1em;
  color: salmon;
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0.07, 0.07);
  background-color: snow;
  border-radius: 20px;
  transition: 200ms all ease-out;
}

.App .listenButton:hover {
  color: snow;
  background-color: salmon;
}

.App .example {
  font-size: smaller;
  opacity: 0.7;
  font-style: italic;
}

.App .synonymItem {
  display: inline;
}

.App .synonymBtn {
  margin-right: 10px;
  margin-top: 10px;
  border: 1px coral solid;
  padding: 0 10px;
  color: salmon;
  background-color: snow;
  border-radius: 20px;
  line-height: 27px;
  font-weight: bold;
  transition: 200ms all ease-out;
}

.App .synonymBtn:hover {
  color: snow;
  background-color: salmon;
}

.App .picture {
  border-radius: 10px;
}

.App .picture:hover {
  border: 2px solid snow;
}
